@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 


/* ----------------------------------OPTIONAL----------------------------------- */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-size: 0.945rem;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: black;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* -------------------------------------------HOME------------------------------------- */

.container{
    position: relative;
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home{
    background-color: rgba(253, 215, 222,0.5);
}

p{
    font-weight: 300;
}

.photo{
position: relative;
    width: 100%;
    height: 100%;
}

 .photo img{
    top: -147.5px;
    left: 400px;
    position: absolute;
    height: 800px;
    width: 700px;
}

.head{
    justify-content: space-between;
    display: flex;
}

.content{
    width: 50%;
    position: relative;
    margin-left: 50px;
    display: grid;
}
.content_head{
    position: absolute;
    font-size: 50px;
    top: 70px;
}

.content_body{
    top: 50px;
    position: relative;
    margin-top:240px ;
    color: rgb(136, 130, 130);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
    width: 100px;
    position: relative;
    margin-top: -56px;

}

.logo img{
    border-radius: 20px;
}
.logo h1{
    color: rgba(9, 235, 251, 0.5) ;
    font-weight: 700;
    font-size: 2em;
    font-family:cursive;
}

.logo > .upper{
    color: red;
    font-family:transparent;
}

.header .navigations {
    position: relative;
    display: flex;
}

.header .navigations li{
    margin-left: 60px;
    
}

.header .navigations li a{
    font-weight: 300;
    color: white;
}

.header{
    background-color: rgba(255, 53, 161, 0.5);
    width: 100%;
    height: 100px;
}
span{
    color: red;
}
.header .navigations a:hover{
   color: black;
}
.icons:hover{
    
}
.btn{
    font-size: 1em;
    color:#fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top:20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    position: absolute;
    border-radius: 8px;
}

.btn:hover{
    letter-spacing: 6px;
}

.down{
    position: absolute;
    margin-top: 450px;
}

.icons{
    color:white;
}

/* -----------------------------------------------ABOUT--------------------------------------- */

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col{
    position: relative;
    width: 48%;
}

.title{
    color: black;
    font-size: 2em;
    font-weight: 200;

}

.title span{
    font-weight: 800;
}

.row .col .img{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col .img img{
    top: -145.5px;
    left: 200px;
    position: absolute;
    height: 800px;
    width: 500px;

}
.up{
    position: absolute;
    top: -100px;
    
}
.up p{
    width: 90%;
}
.about{
    background-image: url(./photos/images/shapes/7.png);
}







/* -------------------------------------- MENU ------------------------------------- */

.menu{
    position: relative;
    margin-top: 300px;
}

.menu .contents{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0 200px;

}
.menucontent{
    font-size: 30px;
}
.titlet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    margin-top: -160px;
    position: absolute;
}

.menubtn{
     
     font-size: 1em;
    color:#fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top:20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    position: absolute;
    border-radius: 8px;
    font-size: 25px;
    margin-left: 850px;
}

.menubtn:hover{
    letter-spacing: 6px;
}
.menu .contents .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0, 0.08);
    
}

.menu .contents .box .imgx{
    position: relative;
    width: 100%;
    height: 300px;

}

.manu .content .box .imgx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manu .content .box .imgx .text{
    padding: 15px 0 5px;
}
/* -------------------------------------EXPERTS------------------------------------ */

.expert{
    position: relative;
    margin-top: 400px;
}

.titlex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    position: absolute;
    top:-120px;
}

.experttext{
    font-size: 30px;
    margin-left: 420px;
}


.expert .contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .contents .box{
    width: 300px;
    margin: 15px;
}
.expert .contents .box .imgx{
    position:relative;
    width: 100%;
    height: 400px;
}

.expert .contents .box .imgx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px;
    border: 5px solid red;
}

.expert .contents .box .text{

    margin-left: 72px ;
    position:absolute;
}

.expert .contents .box .text h3{
    font-weight: 400;
    color: #111;
}

/* -------------------------------------------------------- Contast us--------------------------------------------------------- */

.contactus{
    position: absolute;
    margin-top: 100px;
    background: url(./photos/images/shapes/Frame\ 58.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
}

.contactform{
    padding: 100px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0, 0.1);
    max-width: 500px;
    margin-left: 130px;
    margin-top: 200px;


    
}



.contactform h3{
   color: #111;
   font-size: 1.2em;
   margin-bottom: 20px;
   font-weight: 500;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input{
    width: 100%;
    padding: 10px;
    color: #111;
    font-size: 16px;
    font-weight: 300;

}

.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox input[type="submit"]{


    font-size: 1em;
    color:#fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top:20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
    max-width:150px;
    border: 2px solid red;
    border-radius: 8px;
}
.contactform .inputbox input[type="submit"]:hover{
    background-color: rgb(235, 103, 103);
}

.titlez{
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    font-size: 50px;
}

.titleyz{
    position: absolute;
    margin-left: 530px;
    margin-top: 130px;
}
.contectimg{
    position: absolute;
    top:320px;
    left: 1300px;
}

/* ------------------------------------------------------------footer----------------------------------------------------------- */

.footer{
    position: relative;
    height: 30vh;
    width: 100%;
    background-color: black;
    margin-top: 890px;
}

.footerhead{
    color: white;
    position: absolute;
    top: 80px;
    left: 840px;
}

.footerbody{
    color: white;
    top: 130px;
    position: absolute;
    left: 770px;
}